
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';





@import '~bulma/bulma.sass';

.navbar {
  background-color: $info;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#nav_menu {
  float: right; 
}

#navTitle {
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: "Lucida Console";
}

.py-4 {
  background-color: $white-ter;
  height: 800px;
}