
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';





@import '~bulma/bulma.sass';

.navbar {
  background-color: #6babed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#nav_menu {
  float: right; 
}

#navTitle {
  color: $dark;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Console";
}

#navTitle:hover {
  @extend #navTitle;
  font-size: 30.5px;
}

.py-4 {
  background-color: $white-ter;
  height: 750px;
}

.tasks{
  color: black;
  font-family: "Lucida Console";
}

.footer {
  font-family: "Lucida Console";
  padding: 1.5rem 1.5rem 1.5rem; 	
}

%taskOperation {
  font-size: 36px;
  font-weight: bold;
}

.added {
  @extend %taskOperation;
  color: green;
}

.deleted {
  @extend %taskOperation;
  color: orange;
}

.nav-item {
  padding: 10px;
  color: $dark;
}

.card-body {
  @extend %taskOperation;
  text-align: center;
  color: #6babed;
}