
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


$navbar-background-color: #6babed;
$navbar-item-hover-background-color: #79b3ee;
$background: hsl(0, 63%, 43%);

@import '~bulma/bulma.sass';

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#nav_menu {
  float: right;
}


#navTitle {
  color: $dark;
  font-size: 30px;
  font-weight: bold;
  font-family: "Ubuntu";
}

#navTitle:hover {
  @extend #navTitle;
  font-size: 30.15px;
}

.py-4 {
  background-color:hsl(0, 0%, 87%);
  height: 80%;
}

#navbarDropdown {
  color: $grey-lighter
}



.tasks{
  color: black;
  font-family: "Arial";
}

.footer {
  font-family: "Arial";
  padding: 1.5rem 1.5rem 1.5rem; 	
}

%taskOperation {
  font-size: 40px;
  font-weight: bold;
}

.added {
  @extend %taskOperation;
  color: green;
}

.deleted {
  @extend %taskOperation;
  color: orange;
}

.nav-item {
  padding: 10px;
  color: $dark;
}

.card-body {
  @extend %taskOperation;
  text-align: center;
  color: #6babed;
}

#subForm {
  margin-top: 30px;
}

.Pictures {
  padding-top: 40px;
}

#homeBox {
  box-shadow: 5px 5px 3px grey;
}

#tasklist {
  padding-left: 50px;
}

#APIinputSubmit {
  margin: 2px;
}