body {
    background: #d8d8d8;
}

.container {
    background: #FFF;
    min-height: 100vh;
}

.badge {
    font-size: 20px;
}

.rectangle {
    display: flex;
}

.second-square {
    flex: 1;
}

form {
    margin: 0 auto;
}